<!DOCTYPE html>
<html lang="sv">
  <head>
    <title>systemnytt.se - småpartier på systembolaget</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="systemnytt, systembolaget, öl, vin, sprit, nyheter"/>
    <meta name="description" content="Systemnytt hjälper dig hitta småpartier och lokalproducerat som släpps på utvalda Systembolag."/>
    <link rel="shortcut icon" href="./static/images/favicon.ico">
    <!-- Google Analytics -->
    <script>
      window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
      ga('create', 'UA-130020407-1', 'auto');
      ga('send', 'pageview');
      </script>
      <script async src='https://www.google-analytics.com/analytics.js'></script>
      <!-- End Google Analytics -->
  </head>
  <body>
    <main id="app">
      <noscript>
        <div class="no-js">
          <h1>Where did JavaScript go?</h1>
          <p>Couldn't load app because JavaScript is disabled</p>
        </div>
      </noscript>
    </main>
    <footer>
      <p>
        Systemnytt listar småpartier som släpps på utvalda Systembolag.
        Du kan favoritmarkera en dryckeskategori för snabbare åtkomst och dina markerade favoritdrycker sparas ner till nästa gång du kommer in till siten.
      </p>
      <p>Systemnytt utvecklas och underhålls av Martin Wendt och Jonas Stenberg.</p>
      <p>Projektet är open source och finns att hitta på <a href="https://www.github.com/jonasstenberg/systemnytt-hyperapp/">GitHub</a>.</p>
    </footer>
  </body>
</html>
